*{
  font-family:'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

h1{ 
    font-size: 80px;
    text-align: center;
    color: #008f0a;
    
}


body{
     background-image: url("./images/bc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}


footer{
margin-top: 100%;
padding: 0px;
height: 75px;
text-align: center;
background-image: url("./images/footer.jpg");
background-size: cover;
background-repeat: no-repeat;
position: relative;
z-index: -1;

border: 1px solid green;

}

#footer-content{
    margin: auto;
    padding: 25px;
    color: aquamarine;
   

}

/* nav start here */
/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #005213;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #008f0a;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

.pfp{
    color: aliceblue;
    position: relative;
    z-index: 100;
    /* border: 1px solid whitesmoke; */
    margin-bottom: 2%;
    padding: 60px;
    border-radius: 20px;
    background-image: url(https://media.giphy.com/media/3ov9jLGGAksVwJZra0/giphy.gif);
}
.section {
    color: aliceblue;
    position: relative;
    z-index: 100;
    /* border: 1px solid whitesmoke; */
    margin-bottom: 4%;
    padding: 9px;
    text-align: center;
  }
  .section h2{
    
    border: 2px solid rgb(200, 2, 164);
    border-radius: 12px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5px;
    text-align: center;
    background-image: url(https://media.giphy.com/media/3ov9jLGGAksVwJZra0/giphy.gif);
  }
  
  .section p{
    padding: 10px;
    text-align: center;
    font-size: 45px;
  }

 
.logo {
    margin: 29px;
    padding: 8px;
    display: inline-block;
    justify-content: center;
    
  }

  #social{
    border: 2px solid whitesmoke;
    /* display: flex; */
  }


  /* project css start here */
  

#projects p{
  text-decoration-line: none;
  color: azure;
  font-style: italic;
  text-decoration: none;

}

